.App {
  display: grid;
  width: 900px;
  margin: 0 auto;
  grid-template-areas: 
    "header header"
    "nav info";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 20% 1fr;
}
.Header{
  grid-area: header;
  background-color: blue;
}
.Navbar{
  grid-area: nav;
  border-right: 1px solid;  
}
.Info{
  grid-area: info;
}
