.App {
  display: grid;
  width: 900px;
  margin: 0 auto;
  grid-template-areas: 
    "header"
    "content";
  grid-template-rows: 60px 1fr;
}
.Header{
  grid-area: header;
  background-color: blue;
}
.content{
  grid-area: content;
}
/* .Navbar{
  grid-area: nav;
  border-right: 1px solid;  
}
.Info{
  grid-area: info;
} */
